.RulesGrid {
  display: grid;
  grid-template-columns: 15% 85%;
}

.RulesToc {
  grid-column: 1;
  list-style-type: none;
}

.RulesContent {
  grid-column: 2;
  counter-reset: hdr_counter;
}

.Header {
  counter-reset: sec_counter;
}

.Rules {
  counter-reset: rule_counter;
  list-style: none;
}

.SubRules {
  counter-reset: sub_rule_counter;
  list-style: none;
}

.Header:before {
  content: counter(hdr_counter) ".";
  counter-increment: hdr_counter;
  padding-right: 10px;
}

.Section:before {
  content: counter(hdr_counter) "." counter(sec_counter) ".";
  counter-increment: sec_counter;
  padding-right: 10px;
}

.Rule:before {
  content: counter(hdr_counter) "." counter(sec_counter) "." counter(rule_counter) ".";
  counter-increment: rule_counter;
  padding-right: 10px;
}

.SubRule:before {
  content: counters(sub_rule_counter, "", lower-alpha) ".";
  counter-increment: sub_rule_counter;
  padding-right: 10px;
}

.Term {
  font-variant: small-caps;
}

.Symbol {
  height: 0.75em;
}

.Example {
  font-style: italic;
}
