.RuleLinkSymbol{
  display:inline-block!important;
  opacity:0;
  transition: opacity ease-in 200ms;
  width:0.75em;
  height:0.75em;
  fill:currentColor;
  vertical-align:middle;
}

.RuleLinkSymbol[hidden]{
  display:none!important;
}


.RuleLinkSymbol--check:not([hidden]){
  opacity:1;
}

a.RuleLink:hover~.RuleLinkSymbol{
  opacity:1;
}

.Section a.RuleLink~.RuleLinkSymbol {
  margin-left:.5rem;
  width:0.975em;
  height:0.975em;
}

.Chapter a.RuleLink~.RuleLinkSymbol {
  margin-left:.5rem;
  width:0.975em;
  height:0.975em;
}

/* Add another 1.5rem to account for link symbol width */
.ExamplesSubRule {
  margin-left: -2.8em;
}

.ExamplesRule {
  margin-left: -4.5em;
}

.ExamplesSubSection {
  margin-left: -7.5em;
}