body {
  font-family: 'Atkinson Hyperlegible';
}

.material-symbols-outlined {
    vertical-align: bottom;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.RulesGrid {
  display: grid;
  grid-template-columns: 15% 85%;
}

.RulesToc {
  grid-column: 1;
  list-style-type: none;
}

.RulesContent {
  grid-column: 2;
  margin-left: 1em;
}

.Title {
  font-weight: bolder;
  font-size: xx-large;
}

.SubTitle {
  font-weight: bold;
  font-size: x-large;
  color: dimgray;
}

ol.Rules, ol.SubRules {
  list-style: none;
  line-height: 1.5em;
}

.Rules, .SubRules {
  margin-top: 0;
}
.Rules {
  margin-left: 2em;
}
.SubRules {
  margin-left: 1em;
}

.RuleLinkOuterWrapper{
  display: inline-block;
  width: 0;
  position: relative;
  left: -.5em;
}
.RuleLinkInnerWrapper{
  display: inline-block;
  transform: translateX(-100%);
}
a.RuleLink:link, a.RuleLink:visited {
  color: inherit;
}

/* The symbol is disabled for the HTML stand-alone version. Overridden in extended.css */
.RuleLinkSymbol{
  display:none;
}

.Section a.RuleLink, .Chapter a.RuleLink {
  text-decoration: none;
}

.SubType {
  font-weight: bold;
}

.SubRules {
  list-style: none;
  line-height: 1.5em;
}

.SubSection {
  color: #494949;
  font-weight: bold;
  font-size: 1.2em;
}

.Card {
  font-style: italic;
}

.Product {
  font-style: italic;
}

.Term {
  font-variant: small-caps;
  font-style: normal;
}

.Symbol {
  height: 0.75em;
}

.Example {
  font-style: italic;
}

.ExamplesSubRule {
  margin-left: -1.3em;
}

.ExamplesRule {
  margin-left: -2em;
}

.ExamplesSubSection {
  margin-left: -6em;
}

.Examples {
  font-style: italic;
  list-style: none;
  line-height: 1.5em;
  padding-left: 0;
  text-indent: 0em;
}

.Snippet {
  font-style: italic;
}

.TimingStructureBold {
  font-weight: bold;
}

.TimingStructureNormal {
  font-weight: normal;
}

.TimingStructureL1 {
  list-style: decimal;
}

.TimingStructureL2 {
  list-style: lower-alpha;
}

.TimingStructureL3 {
  list-style: lower-roman;
}