body {
  font-family: 'Atkinson Hyperlegible';
  margin: 0;
  --toc-width: 15rem;
}

.material-symbols-outlined {
    vertical-align: bottom;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

#RulesParent {
  max-width: 100vw;
  overflow-x: clip;
}

.Clickable {
  cursor: pointer;
}

#RulesContent {
  padding: 2rem;
  padding-left: 2.4rem;
  transform: translateX(0);
}
#RulesParent[data-tocopen] #RulesContent {
  transform: translateX(var(--toc-width));
  transition: transform 0.05s ease-out 100ms
}


#RulesParent[data-tocopen] #RulesToc{
  transform: translateX(var(--toc-width));
  transition: transform 0.05s ease-out 100ms;
}
#RulesParent[data-tocopen] #TocClose {
  visibility: visible;
}
#RulesParent[data-tocopen] #TocOpen {
  visibility: hidden;
}

#TocHeader {
  display: flex;
  font-weight: 600;
  /* subtle shadow below toc header indicates 
     it may be hiding offscreen content due to scroll */
  box-shadow: 0px 4px 10px -10px black; 
}
#TocTitle {
  flex: 1;
  padding: 1rem;
}
#TocClose {
  flex: 1;
}

#RulesToc {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width:var(--toc-width);
  position: fixed;
  height: 100%;
  transform: translateX(0);
  top: 0;
  left: 0;
  background-color: beige;
  margin: 0 0 0 calc(-1 * var(--toc-width));
  padding: 0;
}

#RulesToc nav {
  overflow-y: scroll;
}

.RulesTocList {
  list-style-type: none;
  padding: 0.2em;
  margin: 0;
  z-index: 0;
}

.TocClose {
  position: absolute;
  font-size: xx-large;
  left: 6.5em;
  top: 0.1em;
  cursor: pointer;
  visibility: hidden;
}

.TocOpen {
  top: 0.3em;
  position: fixed;
  z-index: 1;
  left: 0.4em;
  background-color: beige;
  padding: 0.3em;
  border-radius: 0.6em;
  visibility: visible;
  cursor: pointer;
  width: 1em;
  height: 1.1em;
  overflow: clip;

  transition: width 0.2s ease-out 100ms
}

.TocOpen:hover {
  width: 10em;
}

/* on desktop or sufficiently wide displays, leave whitespace on right 
   equal to the space the TOC will take up, to allow browsing with TOC open */
@media only screen and (min-width: 768px) {
  #RulesContent {
     padding-right: calc(var(--toc-width) + 2rem);
  }
}

.Title {
  font-weight: bolder;
  font-size: xx-large;
  margin: 0;
  margin-bottom: 0.3em;
}

.SubTitle {
  font-weight: bold;
  font-size: x-large;
  color: dimgray;
  margin: 0;
}

ol.Rules, ol.SubRules {
  list-style: none;
  line-height: 1.5em;
}

.Rules, .SubRules {
  margin-top: 0;
}
.Rules {
  margin-left: 2em;
}
.SubRules {
  margin-left: 1em;
}

.RuleLinkOuterWrapper{
  display: inline-block;
  width: 0;
  position: relative;
  left: -.5em;
}
.RuleLinkInnerWrapper{
  display: inline-block;
  transform: translateX(-100%);
}
a.RuleLink:link, a.RuleLink:visited {
  color: inherit;
}

/* The symbol is disabled for the HTML stand-alone version. Overridden in extended.css */
.RuleLinkSymbol{
  display:none;
}

.Section a.RuleLink, .Chapter a.RuleLink {
  text-decoration: none;
}

.SubType {
  font-weight: bold;
}

.SubRules {
  list-style: none;
  line-height: 1.5em;
}

.SubSection {
  color: #494949;
  font-weight: bold;
  font-size: 1.2em;
}

.Card {
  font-style: italic;
}

.Product {
  font-style: italic;
}

.Term {
  font-variant: small-caps;
  font-style: normal;
}

.Symbol {
  height: 1em;
  vertical-align: text-top;
}

.Example {
  font-style: italic;
}

.ExamplesSubRule {
  margin-left: -1.3em;
}

.ExamplesRule {
  margin-left: -2em;
}

.ExamplesSubSection {
  margin-left: -6em;
}

.Examples {
  font-style: italic;
  list-style: none;
  line-height: 1.5em;
  padding-left: 0;
  text-indent: 0em;
}

.Snippet {
  font-style: italic;
}

.TimingStructureBold {
  font-weight: bold;
}

.TimingStructureNormal {
  font-weight: normal;
}

.TimingStructureL1 {
  list-style: decimal;
}

.TimingStructureL2 {
  list-style: lower-alpha;
}

.TimingStructureL3 {
  list-style: lower-roman;
}

@media print{
  .noprint {
      display:none;
  }
}

.Thumbnail:hover {
  background-color: transparent;
  z-index: 50;
}

.Thumbnail span {
  position: fixed;
  background-color: transparent;
  visibility: hidden;
  text-decoration: none;
}

.Thumbnail span img {
  border-width: 0;
  padding: 4px;
  border-radius: 15px;
}

.Thumbnail:hover span {
  visibility: visible;
}
