body {
  font-family: 'Atkinson Hyperlegible';
}

.RulesGrid {
  display: grid;
  grid-template-columns: 15% 85%;
}

.RulesToc {
  grid-column: 1;
  list-style-type: none;
}

.RulesContent {
  grid-column: 2;
  counter-reset: hdr_counter;
}

.Chapter {
  counter-reset: sec_counter;
}

.Rules {
  counter-reset: rule_counter;
  list-style: none;
  line-height: 1.5em;
  margin-left: 3.5em;
  text-indent: -3.5em;
}

.SubType {
  font-weight: bold;
}

.SubRules {
  counter-reset: sub_rule_counter;
  list-style: none;
  line-height: 1.5em;
  text-indent: -1.5em;
}

.Chapter:before {
  content: counter(hdr_counter) ".";
  counter-increment: hdr_counter;
  padding-right: 10px;
}

.Section:before {
  content: counter(hdr_counter) "." counter(sec_counter) ".";
  counter-increment: sec_counter;
  padding-right: 10px;
}

.Rule:before {
  content: counter(hdr_counter) "." counter(sec_counter) "." counter(rule_counter) ".";
  counter-increment: rule_counter;
  padding-right: 10px;
}

.SubRule:before {
  content: counters(sub_rule_counter, "", lower-alpha) ".";
  counter-increment: sub_rule_counter;
  padding-right: 10px;
}

.Card {
  font-style: italic;
}

.Product {
  font-style: italic;
}

.Term {
  font-variant: small-caps;
}

.Symbol {
  height: 0.75em;
}

.Example {
  font-style: italic;
}

.Examples {
  font-style: italic;
  list-style: none;
  line-height: 1.5em;
  margin-left: 0em;
  text-indent: 0em;
}

.TimingStructureList {
  counter-reset: timing_structure_l1;
}

.TimingStructureL1 {
  counter-reset: timing_structure_l2;
  list-style: none;
  font-weight: bold;
}

.TimingStructureL2 {
  counter-reset: timing_structure_l3;
  list-style: none;
  font-weight: normal;
}

.TimingStructureL3 {
  list-style: none;
  font-weight: normal;
}

.TimingStructureL1:before {
  content: counter(timing_structure_l1) ")";
  counter-increment: timing_structure_l1;
  padding-right: 7px;
}

.TimingStructureL2:before {
  content: counters(timing_structure_l2, "", lower-alpha) ")";
  counter-increment: timing_structure_l2;
  padding-right: 7px;
}

.TimingStructureL3:before {
  content: counters(timing_structure_l3, "", lower-roman) ")";
  counter-increment: timing_structure_l3;
  padding-right: 7px;
}
